In [16]:
import pandas as pd
read = pd.read_feather('Feather/read.feather')
books = pd.read_feather('Feather/books.feather')    
reviews = pd.read_feather('Feather/reviews.feather')
interactions = pd.read_feather('Feather/interactions.feather')

In [2]:
read.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 228648342 entries, 0 to 228648341
Data columns (total 5 columns):
 #   Column       Dtype
---  ------       -----
 0   user_id      int64
 1   book_id      int64
 2   is_read      int64
 3   rating       int64
 4   is_reviewed  int64
dtypes: int64(5)
memory usage: 8.5 GB

In [3]:
books.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 7 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   language_code  200000 non-null  object
 1   description    200000 non-null  object
 2   authors        200000 non-null  object
 3   book_id        200000 non-null  int64
 4   title          200000 non-null  object
 5   genres         200000 non-null  object
 6   combined_text  200000 non-null  object
dtypes: int64(1), object(6)
memory usage: 10.7+ MB

In [4]:
reviews.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 5 columns):
 #   Column       Non-Null Count   Dtype
---  ------       --------------   -----
 0   review_id    200000 non-null  object
 1   rating       200000 non-null  int64
 2   review_text  200000 non-null  object
 3   user_id      200000 non-null  int64
 4   book_id      200000 non-null  int64
dtypes: int64(3), object(2)
memory usage: 7.6+ MB

In [5]:
interactions.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 200000 entries, 0 to 199999
Data columns (total 5 columns):
 #   Column     Non-Null Count   Dtype
---  ------     --------------   -----
 0   review_id  200000 non-null  object
 1   is_read    200000 non-null  bool
 2   rating     200000 non-null  int64
 3   user_id    200000 non-null  int64
 4   book_id    200000 non-null  int64
dtypes: bool(1), int64(3), object(1)
memory usage: 6.3+ MB

In [22]:
books['language_code'].unique()

array(['', 'eng', 'en-US', 'fre', 'spa', 'mul', 'en-GB', 'enm', 'en-CA',
       'ger', 'ita', 'glg', 'swe', 'tur', 'por', 'ara', 'grc', 'pol',
       'per', 'kor', 'dan', 'fin', 'nor', 'jpn', 'hun', 'rus', 'nob',
       'hye', 'zho', 'tlh', 'ind', 'urd', 'frs', 'nl', 'ben', 'cze',
       'ukr', 'msa', 'rum', '--', 'tgl', 'scr', 'lit', 'fil', 'isl',
       'srp', 'cat', 'ang', 'pes', 'nno', 'mar', 'lav', 'lat', 'vie',
       'heb', 'afr', 'pan', 'dut', 'bul', 'est', 'gre', 'nld', 'tha',
       'hin', 'tam', 'kan', 'slv', 'bos', 'arg', 'dum', 'alg', 'slo',
       'apa', 'sin', 'egy', 'aze', 'guj', 'mon', 'gla', 'sqi', 'jav',
       'gle', 'en', 'mal', 'nep', 'wel', 'es-MX', 'vls', 'kat', 'mus',
       'tel', 'iro', 'tut', 'mkd', 'pt-BR', 'kur', 'amh', 'din', 'crh',
       'arw', 'snd', 'mya', 'ada', 'bel', 'smn', 'pra', 'mlt', 'fao',
       'epo', 'abk', 'peo', 'ori', 'ota', 'udm', 'eus'], dtype=object)

In [25]:
books[books['language_code'] == 'enm']

,language_code,description,authors,book_id,title,genres,combined_text
114,enm,On a spring day in April--sometime in the wani...,"[{'author_id': '1838', 'role': ''}, {'author_i...",2701,The Canterbury Tales,"{'children': None, 'comics, graphic': None, 'f...",On a spring day in April--sometime in the wani...

In [24]:
books[books['language_code'] == 'en-US']

,language_code,description,authors,book_id,title,genres,combined_text
7,en-US,"From one of America's most iconic writers, a s...","[{'author_id': '238', 'role': ''}]",420,The Year of Magical Thinking,"{'children': None, 'comics, graphic': None, 'f...","From one of America's most iconic writers, a s..."
12,en-US,Inez Victor knows that the major casualty of t...,"[{'author_id': '238', 'role': ''}]",425,Democracy,"{'children': None, 'comics, graphic': None, 'f...",Inez Victor knows that the major casualty of t...
28,en-US,"In the last decade, No Logo has become a cultu...","[{'author_id': '419', 'role': ''}]",647,No Logo,"{'children': None, 'comics, graphic': None, 'f...","In the last decade, No Logo has become a cultu..."
29,en-US,,"[{'author_id': '444', 'role': ''}]",681,"Natural Cures ""They"" Don't Want You To Know About","{'children': None, 'comics, graphic': None, 'f...","children comics, graphic fantasy, paranormal ..."
39,en-US,"Since its publication in 1993, Paulo Coelho's ...","[{'author_id': '566', 'role': ''}, {'author_id...",872,The Illustrated Alchemist: A Fable about Follo...,"{'children': None, 'comics, graphic': None, 'f...","Since its publication in 1993, Paulo Coelho's ..."
...,...,...,...,...,...,...,...
189581,en-US,"The walk of shame.\nAh, yes, there's nothing q...","[{'author_id': '7278601', 'role': ''}]",33590616,"Walk of Shame (Love & Other Disasters, #1)","{'children': None, 'comics, graphic': None, 'f...","The walk of shame.\nAh, yes, there's nothing q..."
189752,en-US,A small farm community is the perfect place to...,"[{'author_id': '15114888', 'role': ''}]",33642308,Altered Genes : Revelations,"{'children': None, 'comics, graphic': None, 'f...",A small farm community is the perfect place to...
189855,en-US,Words and Phrases: Make Your Sex Scenes Sizzle...,"[{'author_id': '6541926', 'role': ''}]",33670424,Words and Phrases: Make Your Sex Scenes Sizzle,"{'children': None, 'comics, graphic': None, 'f...",Words and Phrases: Make Your Sex Scenes Sizzle...
190037,en-US,A stolen crown. An unbreakable friendship. One...,"[{'author_id': '8634130', 'role': ''}]",33798484,A Stolen Crown (Stolen Royals #2),"{'children': None, 'comics, graphic': None, 'f...",A stolen crown. An unbreakable friendship. One...
190385,en-US,A new romantic action adventure for fans of ro...,"[{'author_id': '4337880', 'role': ''}, {'autho...",33854431,"Scorch Road (Scorch Series, # 1)","{'children': None, 'comics, graphic': None, 'f...",A new romantic action adventure for fans of ro...

In [20]:
books[books['language_code'] == 'eng']

,language_code,description,authors,book_id,title,genres,combined_text
4,eng,"Tom Wolfe, the master social novelist of our t...","[{'author_id': '3083854', 'role': ''}]",231,I am Charlotte Simmons,"{'children': None, 'comics, graphic': None, 'f...","Tom Wolfe, the master social novelist of our t..."
8,eng,"First published in 1979, ""The White Album ""is ...","[{'author_id': '238', 'role': ''}]",421,The White Album,"{'children': None, 'comics, graphic': None, 'f...","First published in 1979, ""The White Album ""is ..."
9,eng,Writing with the telegraphic swiftness and mic...,"[{'author_id': '238', 'role': ''}, {'author_id...",422,A Book of Common Prayer,"{'children': None, 'comics, graphic': None, 'f...",Writing with the telegraphic swiftness and mic...
10,eng,"In her moving and insightful new book, Joan Di...","[{'author_id': '238', 'role': ''}]",423,Where I Was From,"{'children': None, 'comics, graphic': None, 'f...","In her moving and insightful new book, Joan Di..."
13,eng,(Book Jacket Status: Jacketed)\nJoan Didion's ...,"[{'author_id': '238', 'role': ''}, {'author_id...",426,We Tell Ourselves Stories in Order to Live: Co...,"{'children': None, 'comics, graphic': None, 'f...",(Book Jacket Status: Jacketed)\nJoan Didion's ...
...,...,...,...,...,...,...,...
199983,eng,Tobias\nComing home means coming hard.\nI've n...,"[{'author_id': '16824569', 'role': ''}, {'auth...",36470448,SEAL's Secret,"{'children': None, 'comics, graphic': None, 'f...",Tobias\nComing home means coming hard.\nI've n...
199984,eng,"An eclectic mix of short stories, which evolve...","[{'author_id': '5835363', 'role': ''}]",36471270,Eclectic Dreams,"{'children': None, 'comics, graphic': None, 'f...","An eclectic mix of short stories, which evolve..."
199990,eng,"Wonder Woman reconnects with Artemis. Plus, Di...","[{'author_id': '564891', 'role': ''}, {'author...",36478574,Wonder Woman (1987-2006) #139,"{'children': None, 'comics, graphic': None, 'f...","Wonder Woman reconnects with Artemis. Plus, Di..."
199992,eng,"Jason Banks works for his father, who owns a h...","[{'author_id': '16329883', 'role': ''}]",36484555,His Brother's Wife,"{'children': None, 'comics, graphic': None, 'f...","Jason Banks works for his father, who owns a h..."
199994,eng,"When there's trouble, he has your back.\nFor T...","[{'author_id': '897369', 'role': ''}, {'author...",36488099,"In Dire Straits (Triple-D Ranch, #3)","{'children': None, 'comics, graphic': None, 'f...","When there's trouble, he has your back.\nFor T..."

In [23]:
books[books['language_code'] == 'en-GB']

,language_code,description,authors,book_id,title,genres,combined_text
101,en-GB,Ed Bishop stars as Philip Marlowe in this atmo...,"[{'author_id': '1377', 'role': ''}]",2059,The Long Goodbye. Based on the Novel by Raymon...,"{'children': None, 'comics, graphic': None, 'f...",Ed Bishop stars as Philip Marlowe in this atmo...
186,en-GB,High in the pine forests of the Spanish Sierra...,"[{'author_id': '1455', 'role': ''}]",4627,For Whom The Bell Tolls,"{'children': None, 'comics, graphic': None, 'f...",High in the pine forests of the Spanish Sierra...
200,en-GB,In an open cart Elspeth Huxley set off with he...,"[{'author_id': '3488', 'role': ''}]",5137,The Flame Trees of Thika: Memories of an Afric...,"{'children': None, 'comics, graphic': 2.0, 'fa...",In an open cart Elspeth Huxley set off with he...
216,en-GB,"""So charged with pain and wonder that the nove...","[{'author_id': '3534', 'role': ''}]",5219,The Bluest Eye,"{'children': None, 'comics, graphic': None, 'f...","""So charged with pain and wonder that the nove..."
224,en-GB,Fourth-grader Amber Brown must make some impor...,"[{'author_id': '3622', 'role': ''}, {'author_i...",5370,Amber Brown Is Green With Envy,"{'children': 26.0, 'comics, graphic': None, 'f...",Fourth-grader Amber Brown must make some impor...
...,...,...,...,...,...,...,...
189458,en-GB,"After her four sisters married for love, Mercy...","[{'author_id': '2786221', 'role': ''}]",33550414,The Scandalous Lady Mercy: The Baxendale Sisters,"{'children': None, 'comics, graphic': None, 'f...","After her four sisters married for love, Mercy..."
189728,en-GB,Natalie Banks is exactly where she wants to be...,"[{'author_id': '5768382', 'role': ''}]",33636766,"Bed Buddies (Puck Buddies, #3)","{'children': None, 'comics, graphic': None, 'f...",Natalie Banks is exactly where she wants to be...
190046,en-GB,"Adopted as a baby, Giles Frobisher has grown u...","[{'author_id': '2980235', 'role': ''}]",33800284,Good Breeding,"{'children': None, 'comics, graphic': None, 'f...","Adopted as a baby, Giles Frobisher has grown u..."
190159,en-GB,Zeke and I are finally together.\nGoing from b...,"[{'author_id': '7235860', 'role': ''}]",33820974,Ray of Time (Ray #4),"{'children': None, 'comics, graphic': None, 'f...",Zeke and I are finally together.\nGoing from b...
190249,en-GB,Millions of readers have fallen in love with A...,"[{'author_id': '7133520', 'role': ''}]",33835428,"Home Sweet Love (Dare Valley, #10)","{'children': None, 'comics, graphic': None, 'f...",Millions of readers have fallen in love with A...

langauge code is not useful lots of gaps and inconsistencies

In [10]:
print('Number of users is {}'.format(len(interactions.user_id.unique())))

Number of users is 438

should this be in preprocessing

In [19]:
interactions[interactions['is_read']== True]

                               review_id  is_read  rating  user_id  book_id
13      ea74f2b6645b7d16f3ede2aca10226f0     True       0        0       13
14      5cd416f3efc3f944fce4ce2db2290d5e     True       5        0       14
21      dfdbb7b0eb5a7e4c26d59a937e2e5feb     True       5        0       21
22      5e212a62bced17b4dbe41150e5bb9037     True       3        0       22
23      fdd13cad0695656be99828cd75d6eb73     True       4        0       23
...                                  ...      ...     ...      ...      ...
199201  bef640ef9b737d530e67ca8f7b91fc27     True       5      437     1200
199245  450a571d8d243b04b09900cad52b92b6     True       5      437    98768
199387  3d2315ab64d3a69a2643c2fe5fcc5d5d     True       5      437      993
199828  26d6af65bac006c4a16b4abdce304e9c     True       5      437     1009
199852  392f6907882dfe7ffdb6d33026cc91e4     True       5      437    99207

[103248 rows x 5 columns]